.Programmi
{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programmi-header
{
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.categorie-programmi
{
    display:flex;
    gap: 1rem;

}

.categoria
{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2rem;
    gap: 1rem;
    color: white;
    justify-content: space-between;
}

.categoria>:nth-child(1) {
    width: 2rem;
    height: 2rem;
    fill: white;
}

.categoria>:nth-child(2)
{
   font-size: 1rem;
   font-weight: bold;
}

.categoria>:nth-child(3)
{
   font-size: 0.9rem;
   line-height: 25px;
}

.entra-ora
{
    display: flex;
    align-items: center;
    gap: 2rem;   
}


.entra-ora>img
{
    width: 1rem;
}

.categoria:hover
{
    background: var(--planCard);
    cursor: pointer;
}


